<form> 
    <label for="username">username</label>
    <input type="text" id="username" name="username"><br>
    <label for="password">password</label>
    <input type="password" id='password' name="password">
    <button id="login">login</button>
    <button id="signin">sign in</button>
</form>

<a href="/auth/facebook">login with facebook</a>
    
